body{
    background-color: black;
    color:whitesmoke;
}

main{
    margin: 0 auto;
    border: 1px solid red;
    width: 55vw;
    height: 40vw;
}

.rows{
    border: 1px solid green;
    width: 100%;
    height: 6%;
    display: flex;
}

.tile-space{
    border: 1px solid rgb(167, 167, 14);
    width: 10%;
    height: 100%;
}

.tile-wall{
    background-color: rgba(255, 255, 0, 0.781);
}

.tile-goal{
    background-color: brown;
}

.entity-block{
    background-color: burlywood;
}
.entity-player{
    background-color: blue;
}

#Finish{
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    display: block;
    text-align: center;
}
#Finish > span{
    font-size: 5rem;
    color: whitesmoke;
    text-shadow: 0.2rem 0.2rem black ;
}
